# Ignore Python bytecode
*.pyc
__pycache__/
*.py[cod]
.pytest_cache/
*.swp
*.log
*.bak
.env*
*.env
venv/
env/
# Ignore all VSCode workspace and settings files
.vscode/
*.code-workspace

# Ignore codiumate settings
.codiumai.toml

/mongo_playground/
.aider*

neomodel-async-docs.txt
neomodel-basics-docs.txt

notebooks/
data/
!microsoft_cve_rag/application/data/pair_programming/cascade_notes.md
!microsoft_cve_rag/application/data/debug/
!microsoft_cve_rag/application/data/debug/patch_nov-3-4-2023.json
!microsoft_cve_rag/application/data/debug/patch_posts_debug.json
package docs/

# windsurf rules
.windsurfrules
