# Ignore Python bytecode
*.pyc
__pycache__/
*.py[cod]
.pytest_cache/
*.swp
*.log
*.bak
.env*
*.env
venv/
env/
# Ignore all VSCode workspace and settings files
.vscode/
*.code-workspace

# Ignore codiumate settings
.codiumai.toml

/mongo_playground/
.aider*
.windsurfrules
neomodel-async-docs.txt
neomodel-basics-docs.txt

# Ignore all Jupyter notebook files
notebooks/

microsoft_cve_rag/application/data/debug_hash_files
microsoft_cve_rag/application/data/debug_hash_files/*
microsoft_cve_rag/application/data/graph_db
microsoft_cve_rag/application/data/graph_db/*
microsoft_cve_rag/application/data/llm_cache
microsoft_cve_rag/application/data/llm_cache/*
microsoft_cve_rag/application/data/llm_usage
microsoft_cve_rag/application/data/llm_usage/*
microsoft_cve_rag/application/data/vector_index
microsoft_cve_rag/application/data/vector_index/*
microsoft_cve_rag/application/data/graph_db_backup
microsoft_cve_rag/application/data/graph_db_backup/*

package docs/

# windsurf rules
.windsurfrules


/microsoft_cve_rag/architect/qdrant_optimization.md
/microsoft_cve_rag/architect/pr_feedback.md
neomodel-scraper/
check_graph_insert_for_completeness
.ipynb_checkpoints/check_graph_insert_for_completeness-checkpoint

# MCP Servers and details
mcp-servers/
notion_documentation_pages.md
